.list {
  padding: 0;
}

.item {
  display: block;
  font-weight: 600;
  font-size: 20px;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.link {
  color: #000;

  &:hover,
  :focus {
    color: #FF4500;
    font-weight: 800;
    transition: color 200ms linear;
  }
}
