.title {
  margin-bottom: 15px;
}

.item {
  display: block;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.link {
  color: #696969;

  &:hover,
  :focus {
    color: #FFA500;
    font-weight: 800;
    transition: color 200ms linear;
  }
}
